In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import csv
import re

In [ ]:
def preprocessing_data(text):

  while True:

    index=text.find('http')
    ## If founf anything
    if index !=-1:  
      #print(index)
      link_end_index= text[index:].find(' ')
      # If didn't find any space and returns -1 then that means it is the end of sentence
      if link_end_index !=-1:
        #print(index, link_end_index)
        #When we are taking the end of link we are considering the start index as the start of the link.
        #when trimming we can't take the link index but the index from actual text so strip_end_index
        strip_end_index=index + link_end_index
        text=text[:index] + text[strip_end_index:]
        #print(text)
      else:
        #If that is the end of sentence then print only the index text
        text=text[:index]
    else:
      break
  text = text.strip(' ')
  #print(text)
  #print(text[0], text[-1])
  #text = text[:text.find('http')]
  #text = text[:text.find('https')]
  text=re.sub(5*' ',' ',text)
  text=re.sub(4*' ',' ',text)
  text=re.sub(3*' ',' ',text)
  text=re.sub(2*' ',' ',text)

  return text

In [ ]:
text='Check these out: http://t.co/rOI2NSmEJJ http://t.co/3Tj8ZjiN21 http://t.co/YDUiXEfIpE http://t.co/LxTjc87KLS #nsfw'
#text='Check these out: http://t.co/rOI2NSmEJJ  #nsfw'
#text=' Twelve feared killed in Pakistani http://t.co/X5YEUYLT1X air ambulance helicopter crash'

preprocessing_data(text)

'Check these out: #nsfw'

In [ ]:
text='Twelve feared killed in Pakistani air ambulance helicopter crash'
find_var=['http', 'https']
for var in find_var:
  while True:

    index=text.find(var)
    ## If founf anything
    if index !=-1:  
      #print(index)
      link_end_index= text[index:].find(' ')
      # If didn't find any space and returns -1 then that means it is the end of sentence
      if link_end_index !=-1:
        print(index, link_end_index)
        text=text[:index] + text[link_end_index:]
        print(text)
      else:
        #If that is the end of sentence then print only the index text
        text=text[:index]
    else:
      break
  text = text.strip(' ')
  print(text)
  #print(text[0], text[-1])

Twelve feared killed in Pakistani air ambulance helicopter crash
Twelve feared killed in Pakistani air ambulance helicopter crash

In [ ]:
text

'Twelve feared killed in Pakistani air ambulance helicopter crash'

In [ ]:
corpus_data,corpus_label=[],[]
with open('/content/train.csv','r', errors='ignore') as train_csv:
  train_file= csv.reader(train_csv)
  next(train_file)
  #i=1

  for data in train_file:
    #i+=1
    #print(str(data[3]))
    corpus_data.append(preprocessing_data(str(data[3])))
    corpus_label.append(int(data[4]))

In [ ]:
corpus_data[35:50]

['On plus side LOOK AT THE SKY LAST NIGHT IT WAS ABLAZE',
 "@PhDSquares #mufc they've built so much hype around new acquisitions but I doubt they will set the EPL ablaze this season.",
 'INEC Office in Abia Set Ablaze -',
 'Barbados #Bridgetown JAMAICA \x89ÛÒ Two cars set ablaze: SANTA CRUZ \x89ÛÓ Head of the St Elizabeth Police Superintende...',
 'Ablaze for you Lord :D',
 'Check these out: #nsfw',
 "on the outside you're ablaze and alive\nbut you're dead inside",
 'Had an awesome time visiting the CFC head office the ancop site and ablaze. Thanks to Tita Vida for taking care of us ??',
 'SOOOO PUMPED FOR ABLAZE ???? @southridgelife',
 'I wanted to set Chicago ablaze with my preaching... But not my hotel!',
 'I gained 3 followers in the last week. You? Know your stats and grow with',
 'How the West was burned: Thousands of wildfires ablaze in California alone',
 'Building the perfect tracklist to life leave the streets ablaze',
 'Check these out: #nsfw',
 "First night with retainers in. It's quite weird. Better get used to it; I have to wear them every single night for the next year at least."]

In [ ]:
text=corpus_data[35]
import re
text = re.sub(r'^https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)
print(text)

On plus side LOOK AT THE SKY LAST NIGHT IT WAS ABLAZE

In [ ]:
print(text.find('http'), len(text))
text[:text.find('http')]

-1 53

'On plus side LOOK AT THE SKY LAST NIGHT IT WAS ABLAZ'

In [ ]:
corpus_data[200:230]

['HAPPENING NOW - HATZOLAH EMS AMBULANCE RESPONDING WITH DUAL SIRENS AND\x89Û_',
 'Twelve feared killed in Pakistani air ambulance helicopter crash',
 'Twelve feared killed in Pakistani air ambulance helicopter crash',
 'Twelve feared killed in Pakistani air ambulance helicopter crash #worldNews',
 'Twelve feared killed in Pakistani air ambulance helicopter crash #worldnews',
 "What's the police or ambulance number in Lesotho? Any body know?",
 '@medic914 @AACE_org I am surprised we still cannot standardised the clinical practice across the 11 NHS ambulance trust.',
 'Twelve feared killed in Pakistani air ambulance helicopter crash',
 'People who try to j-walk while an ambulance is passing... I hate you.',
 'The episode where Trunks annihilated Freiza is the cleanest shit ever. He showed that nigga no mercy.',
 'THEY SHALL BE ANNIHILATED AND ALL OF THEIR PETEBESTS DESSICATED AND LAID BARE. THEN YOU SHALL KNEEL BEFORE ME.',
 'Uribe just annihilated that baseball. #Mets',
 '@marksmaponyane Hey!Sundowns were annihilated in their previous meeting with Celtic.Indeed its an improvement.',
 "@Volfan326 @TNeazzy Mizzou has annihilated florida the past 2 seasons even ended muschamp's career just can't compete with Bama",
 'Annihilated Abs . ??',
 'Be annihilated for status education mba on behalf of a on easy street careen: eOvm',
 '*to Luka* They should all die! All of them! Everything annihilated! - Alois Trancy',
 "@ACarewornHeart Have a good un fella sorry I won't be there to get annihilated with you :(",
 'Cop pulls drunk driver to safety SECONDS before his car is hit by train. via @ViralSpell',
 'You must be annihilated!',
 'Cop pulls drunk driver to safety SECONDS before his car is hit by train. via @ViralSpell',
 'BOOM! Your country was just entirely annihilated by a h\x89Û_ \x89ÛÓ Britain',
 '@AmirKingKhan you would have been annihilated so you might as well thank @FloydMayweather',
 'One thing for sure-God has promised Israel will not be annihilated. But...the horror of Iran w/nukes.',
 "@violentfeminazi I guess that's ok for Armenians since we've spent most of our history getting annihilated",
 '70 years since we annihilated 100000 people instantly and became aware that we have the ability to annihilate the whole of humanity',
 'day 1 of tryouts went good minus the fact I stopped quickly to get a short ball and Annihilated my toenail injury even more',
 'During the 1960s the oryx a symbol of the Arabian Peninsula were annihilated by hunters. \n',
 "(To Luka) 'They should all die! All of them! Everything annihilated!' - Alois Trancy -",
 'Ready to get annihilated for the BUCS game']

In [ ]:
corpus_label[280:290]

[0, 1, 0, 0, 0, 1, 0, 0, 0, 0]

In [ ]:
corpus_data=np.array(corpus_data)
corpus_label=np.array(corpus_label)

In [ ]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [ ]:
token=Tokenizer(num_words=10000,oov_token='OOV')
token.fit_on_texts(corpus_data)
vocab_size=len(token.word_index)

In [ ]:
vocab_size=10000

In [ ]:
corpus_seq= token.texts_to_sequences(corpus_data)

In [ ]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
corpus_pad=pad_sequences(corpus_seq,maxlen=30, padding='post', truncating='post')

In [ ]:
corpus_pad.shape

(7613, 30)

In [ ]:
corpus_pad[:2]

array([[ 116, 4609,   21,    2,  866,    6,   19,  260,  135, 1746, 4610,
          86,   37,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0],
       [ 185,   42,  225,  796, 6877, 6878, 1402,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0]], dtype=int32)

In [ ]:
corpus_pad.shape

(7613, 30)

In [ ]:
test_label=[]
with open('/content/test.csv') as test_csv:
  test_data= csv.reader(test_csv)
  next(test_data)
  for data in test_data:
    test_label.append(str(data[3]))
test_label= np.array(test_label)
test_seq=token.texts_to_sequences(test_label)
test_pad= pad_sequences(test_seq, maxlen=30, padding='post', truncating='post')

In [ ]:
max_size=1
num_times=1
for data in corpus_seq:
  if len(data) > max_size and len(data) not in [33,32,31]:
    max_size = len(data)

for data in corpus_seq:
  if len(data) == max_size:
    num_times += 1
print(max_size,num_times)

30 12

In [ ]:
len(corpus_seq)

7613

In [ ]:
corpus_seq[0]

[116, 4609, 21, 2, 866, 6, 19, 260, 135, 1746, 4610, 86, 37]

In [ ]:
max_size

30

In [ ]:
spilt_data=7000
train_pad=corpus_pad[:spilt_data]
train_label=corpus_label[:spilt_data]
test_pad=corpus_pad[spilt_data:]
test_label= corpus_label[spilt_data:]

In [ ]:
test_pad.shape, test_label.shape

((613, 30), (613,))

In [ ]:
train_pad.shape, train_label.shape

((7000, 30), (7000,))

In [ ]:
vocab_size

10000

In [ ]:
from tensorflow.keras.layers import Embedding, Bidirectional, LSTM, Dense,Dropout

In [ ]:
keras.backend.clear_session()
model= keras.Sequential()
model.add(Embedding(input_dim= vocab_size+1, output_dim=50, input_length=30))
#model.add(LSTM(10, return_sequences=True))
#model.add(Dropout(rate=0.8))
model.add(LSTM(5))
model.add(Dropout(rate=0.5))
#model.add(Dense(256, activation=tf.nn.relu))
model.add(Dense(32, activation=tf.nn.relu))
model.add(Dense(units=1, activation=tf.nn.sigmoid))
def scheduler(epochs, lr):
  return 1e-8 * (10**(epochs/20))

callback=keras.callbacks.LearningRateScheduler(scheduler)
loss= keras.losses.BinaryCrossentropy()
optimizer= keras.optimizers.Adam(1e-4)
model.compile(loss=loss, optimizer=optimizer,metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 30, 50)            500050
_________________________________________________________________
lstm (LSTM)                  (None, 5)                 1120
_________________________________________________________________
dropout (Dropout)            (None, 5)                 0
_________________________________________________________________
dense (Dense)                (None, 32)                192
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 33
=================================================================
Total params: 501,395
Trainable params: 501,395
Non-trainable params: 0
_________________________________________________________________

In [ ]:
"model.optimizer.get_config()

{'amsgrad': False,
 'beta_1': 0.9,
 'beta_2': 0.999,
 'decay': 0.0,
 'epsilon': 1e-07,
 'learning_rate': 0.0001,
 'name': 'Adam'}

In [ ]:

#model.fit(train_pad, train_label, batch_size=32, epochs=200,callbacks=[callback])
model.fit(train_pad, train_label, batch_size=64, epochs=25, validation_data=(test_pad, test_label))

Epoch 1/25
110/110 [==============================] - 2s 18ms/step - loss: 0.6897 - accuracy: 0.5747 - val_loss: 0.6971 - val_accuracy: 0.4715
Epoch 2/25
110/110 [==============================] - 2s 15ms/step - loss: 0.6840 - accuracy: 0.5790 - val_loss: 0.7027 - val_accuracy: 0.4715
Epoch 3/25
110/110 [==============================] - 2s 15ms/step - loss: 0.6823 - accuracy: 0.5790 - val_loss: 0.7058 - val_accuracy: 0.4715
Epoch 4/25
110/110 [==============================] - 2s 15ms/step - loss: 0.6805 - accuracy: 0.5790 - val_loss: 0.7054 - val_accuracy: 0.4715
Epoch 5/25
110/110 [==============================] - 2s 15ms/step - loss: 0.6786 - accuracy: 0.5790 - val_loss: 0.7062 - val_accuracy: 0.4715
Epoch 6/25
110/110 [==============================] - 2s 15ms/step - loss: 0.6746 - accuracy: 0.5790 - val_loss: 0.7013 - val_accuracy: 0.4715
Epoch 7/25
110/110 [==============================] - 2s 14ms/step - loss: 0.6565 - accuracy: 0.5800 - val_loss: 0.6724 - val_accuracy: 0.4731
Epoch 8/25
110/110 [==============================] - 1s 13ms/step - loss: 0.5809 - accuracy: 0.6640 - val_loss: 0.5873 - val_accuracy: 0.7879
Epoch 9/25
110/110 [==============================] - 1s 13ms/step - loss: 0.4978 - accuracy: 0.8069 - val_loss: 0.5369 - val_accuracy: 0.7912
Epoch 10/25
110/110 [==============================] - 1s 13ms/step - loss: 0.4412 - accuracy: 0.8579 - val_loss: 0.5063 - val_accuracy: 0.7814
Epoch 11/25
110/110 [==============================] - 1s 13ms/step - loss: 0.3959 - accuracy: 0.8783 - val_loss: 0.4866 - val_accuracy: 0.7993
Epoch 12/25
110/110 [==============================] - 1s 13ms/step - loss: 0.3642 - accuracy: 0.8903 - val_loss: 0.4801 - val_accuracy: 0.7945
Epoch 13/25
110/110 [==============================] - 1s 13ms/step - loss: 0.3326 - accuracy: 0.9016 - val_loss: 0.4776 - val_accuracy: 0.8026
Epoch 14/25
110/110 [==============================] - 1s 13ms/step - loss: 0.3094 - accuracy: 0.9094 - val_loss: 0.4865 - val_accuracy: 0.7977
Epoch 15/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2921 - accuracy: 0.9180 - val_loss: 0.4847 - val_accuracy: 0.8026
Epoch 16/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2823 - accuracy: 0.9190 - val_loss: 0.4973 - val_accuracy: 0.7945
Epoch 17/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2637 - accuracy: 0.9220 - val_loss: 0.5151 - val_accuracy: 0.7912
Epoch 18/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2572 - accuracy: 0.9261 - val_loss: 0.5230 - val_accuracy: 0.7961
Epoch 19/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2461 - accuracy: 0.9297 - val_loss: 0.5285 - val_accuracy: 0.7945
Epoch 20/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2382 - accuracy: 0.9306 - val_loss: 0.5293 - val_accuracy: 0.8010
Epoch 21/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2215 - accuracy: 0.9361 - val_loss: 0.5565 - val_accuracy: 0.7912
Epoch 22/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2251 - accuracy: 0.9350 - val_loss: 0.5724 - val_accuracy: 0.7896
Epoch 23/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2105 - accuracy: 0.9391 - val_loss: 0.5655 - val_accuracy: 0.7993
Epoch 24/25
110/110 [==============================] - 1s 13ms/step - loss: 0.1995 - accuracy: 0.9416 - val_loss: 0.5861 - val_accuracy: 0.7928
Epoch 25/25
110/110 [==============================] - 1s 13ms/step - loss: 0.2002 - accuracy: 0.9403 - val_loss: 0.6036 - val_accuracy: 0.7896

In [ ]:
import pandas as pd

In [ ]:
test_data=pd.read_csv('/content/test.csv')

In [ ]:
test_data.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [ ]:
test_label=[]
with open('/content/test.csv') as test_csv:
  test_data= csv.reader(test_csv)
  next(test_data)
  for data in test_data:
    test_label.append(preprocessing_data(str(data[3])))

In [ ]:
test_label= np.array(test_label)

In [ ]:
test_label= np.array(test_label)
test_seq=token.texts_to_sequences(test_label)
test_pad= pad_sequences(test_seq, maxlen=30, padding='post', truncating='post')

In [ ]:
test_pad.shape

(3263, 30)

In [ ]:
test_pad[1].shape

(30,)

In [ ]:
test_label[0]

'Just happened a terrible car crash'

In [ ]:
prediction= model.predict_classes(test_pad)

WARNING:tensorflow:From <ipython-input-98-509c10106a12>:1: Sequential.predict_classes (from tensorflow.python.keras.engine.sequential) is deprecated and will be removed after 2021-01-01.
Instructions for updating:
Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).

In [ ]:
test_label[:2]

array(['Just happened a terrible car crash',
       'Heard about #earthquake is different cities, stay safe everyone.'],
      dtype='<U151')

In [ ]:
submit= pd.read_csv('/content/sample_submission.csv')

In [ ]:
submit.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [ ]:
submit['target']=prediction

In [ ]:
submit.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [ ]:
submit.to_csv('submit.csv',index=False)

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(train_label[:3263], prediction))

              precision    recall  f1-score   support

           0       0.62      0.70      0.66      1969
           1       0.44      0.35      0.39      1294

    accuracy                           0.56      3263
   macro avg       0.53      0.53      0.53      3263
weighted avg       0.55      0.56      0.55      3263